/* -----grid css----- */
#grid{

    background-image: url("https://images.pexels.com/photos/1752757/pexels-photo-1752757.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size:cover;
    border: solid 2px white;
    border-radius: 20px;

    display: grid;
    gap: 5px;
    grid-template-columns:  20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "header header header header aside"
    "section section section section aside"
    "main main main main aside"
    "main main main main aside"
    "footer footer footer footer footer";
}
/* ------header css----- */
header{
    grid-area: header;
    background-color: black;
    border: solid 2px white;
    border-radius: 15px;
}
/* -----section css----- */
section{
    grid-area: section;
}
/* -----main css---- */
main{
    grid-area: main;
}
/* -----aside css---- */
aside{
    grid-area: aside;
    border-radius: 15px;
    border: solid 2px white;
    background-color: black;
    background-size: cover;

    animation-name: aside;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes aside{
    from{top: 0;}
    to{ background-image: url("https://i.pinimg.com/originals/3c/c2/29/3cc229f906773a5e87224821601974ec.jpg");
    }
}
/* -----footer css------ */
footer{

    grid-area:footer ;
    background-color: black;
    border: solid 2px white;
    border-radius: 15px;
}
footer img{
    margin-top: 55px;
    margin-left: 50px;
}
/* -----p css----- */
p{
    color: white;
    margin-left: 10px;
    font-family: 'Yusei Magic', sans-serif;
}
/* -----h1 css----- */
h1{
    color: white;
    margin-left: 10px;
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    font-size: 70px;

    animation-name: h1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes h1{
    from{top: 0;}
    to{color: black;}
}
/* -----iframe css----- */
iframe{
    margin-left: 57.5%;
    margin-top: 0%;
    border: solid 5px white;

    animation-name: video;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes video{
    from{top: 0;}
    to{
        border: solid 5px black;}
}

table{
    border: solid 2px white;
    border-radius: 5px;
    background-color: black;
    width: 10px;
    height: 10px;
    font-family: 'Yusei Magic', sans-serif;
    margin-left: 15px;
}
 th{
    border: solid 2px white;
    border-radius: 5px;
    color: black;
    background-color: white;
    width: 10px;
    height: 10px;
    font-size: 20px;

}
 td{
    border: solid 2px white;
    border-radius: 5px;
    color: black;
    background-color: white;
    width: 10px;
    height: 10px;

    animation-name: td;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}





