#grid{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/1752757/pexels-photo-1752757.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size:cover;

    display: grid;
    gap: 5px;

    grid-template-columns:  20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

    
    
    grid-template-areas: 
    "header header header header aside"
    "section section section section aside"
    "main main main main aside"
    "main main main main aside"
    "footer footer footer footer footer";
    
}

header{
    grid-area: header;
    background-color: black;
    border: solid 2px white;
    border-radius: 15px;
    
    

}


section{
    grid-area: section;

}




main{
    grid-area: main;

    

}
aside{
    grid-area: aside;
    border-radius: 15px;
    border: solid 2px white;
    background-color: black;
    background-size: cover;

    animation-name: aside;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes aside{
    from{top: 0;}
    to{ background-image: url("https://i.pinimg.com/564x/5f/de/6d/5fde6d0272d79909b66d5cfec0d85b5b.jpg");

        }
}

footer{

    grid-area:footer ;
    background-color: black;
    border: solid 2px white;
    border-radius: 15px;
}

footer img{
    margin-top: 40px;
    margin-left: 50px;}

p{
    color: white;
    margin-left: 10px;
    font-family: 'Yusei Magic', sans-serif;
}

h1{
    color: white;
    margin-left: 10px;
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    font-size: 70px;

    animation-name: h1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes h1{
    from{top: 0;}
    to{color: black;}
}

iframe{
    margin-left: 790px;
    margin-top: 45px;
    border: solid 5px white;

    animation-name: video;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes video{
    from{top: 0;}
    to{
        border: solid 5px black;}
}
table{
    border: solid 2px white;
    border-radius: 5px;
    background-color: black;
    width: 10px;
    height: 10px;
    font-family: 'Yusei Magic', sans-serif;
    margin-left: 15px;
}
 th{
    border: solid 2px white;
    border-radius: 5px;
    color: black;
    background-color: white;
    width: 10px;
    height: 10px;
    font-size: 20px;

}
 td{
    border: solid 2px white;
    border-radius: 5px;
    color: black;
    background-color: white;
    width: 10px;
    height: 10px;

    animation-name: td;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* @keyframes td{
    from{top: 0;}
    to{
        background-color: white;
        border: solid 3px black;
        color: black;
        transform: scale(1.2);}
} */
